body{
    height: 100vh;
    width: 100vw;

}
.bodycont{
    padding: 5%;
}
.card{
    padding: 5%;
    display: grid;
    justify-items: center;
    font-family: "Inter";
}
.bodycont h1{
    font-family: "Amita";
}
.card img{
    height: 600px;
}
form{
    display: grid;
    justify-content: center;
    gap: 10%;
    height: 250px;
    background-color: #ff8010;
    padding: 5%;
    border-radius: 25px;
    font-family: "Poppins";
}
label{
    display: grid;
    text-align: center;
}
input{
    border-radius: 5px;
}
button{
    padding: 2%;
    font-weight: 500 ;
    font-size: 1.5em;
    border-radius: 5px;
    background-color: cadetblue;
    color: #fff;
    transition: ease-in 0.3s;
}
button:hover{
    background-color:skyblue;
    color: black;
}